#mainBody {
    text-align:center;
    font-family: Helvetica;
    color:white;
    font-size: 50px;
    padding: 5% 20% 1% 20%;
    text-shadow: 1px 1px 5px black;
}

.indexButton {
    background-color: white;
    text-align: center;
    font-size: 25px;
    padding: 15px 35px 15px 35px;
    border-radius: 10px;
}

/* Contact page specific stylings */
.flex-container-contact {
    display: flex;
    font-family: Helvetica;
    color:white;
    font-size: 35px;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: left;
    align-items: center;
    text-shadow: 2px 2px 15px black;
}

a:link {
    color: white;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }

/* Projects page specific stylings */
.grid-container-projects {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap:20px;
    font-family: Helvetica;
    color:white;
    font-size: 35px;
    padding-left: 20%;
    padding-right: 20%;
    text-shadow: 2px 2px 15px black;
}
.grid-item-project {
    font-size: 30px;
    text-align: center;
}
.grid-item-project-left {
    font-size: 30px;
    text-align: justify; /*right*/
    border-radius: 6%;
    padding: 1em;
    backdrop-filter: blur(10px) brightness(0.95);
}
.grid-item-project-right {
    font-size: 30px;
    text-align: justify; /*left*/
    border-radius: 6%;
    padding: 1em;
    backdrop-filter: blur(10px) brightness(0.95);
}

/** 
    Menu stylings
*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #502762; /*#333;*/
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}
  
.active {
    background-color: #D85C6D; /*#4CAF50;*/
}

/**
    This section is for the buttons on the home page.
*/

.glow-on-hover {
    font-size: 25px;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    border: 1px solid;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    border: 1px solid;
}

.glow-on-hover:active {
    color: #fff
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}